<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body">
        <p class="login-box-msg">Iniciar sesión</p>
        <form action="#" method="post" [formGroup]="form" (ngSubmit)="submitForm()">
          <small *ngIf="(form.get('email')?.errors?.['required'] && submitted) || (form.get('email')?.errors?.['required'] && form.get('email')?.dirty)" class="text-danger">El email es requerido *</small>
          <small *ngIf="form.get('email')?.errors?.['email']" class="text-danger">El email debe ser valido *</small>
          <div class="input-group mb-3">
            <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{'border-danger' : (form.get('email')?.errors?.['required'] && submitted) || (form.get('email')?.errors?.['required'] && form.get('email')?.dirty) || (form.get('email')?.errors?.['email'])}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <small *ngIf="(form.get('password')?.errors?.['required'] && submitted) || (form.get('password')?.errors?.['required'] && form.get('password')?.dirty)" class="text-danger">La contraseña es requerida *</small>
          <div class="input-group mb-3">
            <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña" [ngClass]="{'border-danger' : (form.get('password')?.errors?.['required'] && submitted) || (form.get('password')?.errors?.['required'] && form.get('password')?.dirty)}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
